@media screen and (min-width: 0px) {
  .blob::before {
    width: 350px;
    height: 350px;
  }
}
  
@media screen and (min-width: 768px) {
  .blob::before {
    width: 450px;
    height: 450px;
  }
}

@media screen and (min-width: 1024px) {
  .blob::before {
    width: 650px;
    height: 650px;
  }
}
  
.blob::before {
	position: absolute;
	content: "";
	left: 0px;
  right: 0px;
  margin: auto;
	top: 0px;
  bottom: 0px;
	background: rgba(255, 255, 255, 0.2);
  filter: hue-rotate(180deg);
	border-radius: 62% 47% 92% 35% / 45% 45% 90% 66%;
	will-change: border-radius, transform, opacity;
	animation: blobShape 5s linear infinite;
	display: block;
	z-index: 0;
	-webkit-animation: blobShape 2.5s linear infinite;
}
@keyframes blobShape{
  0%,100%{
  border-radius: 52% 58% 70% 30% / 55% 45% 55% 55%;
    transform: translate3d(0,0,0) rotateZ(1deg);
  }
  34%{
      border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
    transform:  translate3d(0,5px,0) ;
  }
  50%{
    transform: translate3d(0,0,0);
  }
  67%{
    border-radius: 100% 60% 60% 100% / 100% 100% 60% 60% ;
    transform: translate3d(0,-3px,0);
  }
}
